*.log
.DS_Store
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/storage/*.key
/storage/pail
Homestead.json
Homestead.yaml
Thumbs.db
canarylocalbuild_v1.47.zip
*.zip
.env
.env.*
!.env.ci
/papers
/public/documents
/storage/app/public/docs
bootstrap/cache/*.php
#compiled blades
storage/framework/views/*
playwright-report/
test-results/
allure-results/
cucumber-reports/
node_modules
laravel-playwright-poc/node_modules
